# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.example
project.md
# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/dev.db

/src/generated/prisma
